$blue: #87a9ff;
$blue-dark: #6691ff;
$red: #eb5757;
$burgundy: #772d2e;
$white: #ffffff;
$inactive: #828282;
$white-grey: rgba(255, 255, 255, 0.8);
$white-grey-2: rgba(255, 255, 255, 0.9);
$black: #131111;
$dark: #0f0e0e;
